@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* General */

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 125%;
}

img {
    max-width: 100%;
    height: auto;
}

.bg-my-primary {
    background-color: #4e54c8;
}

.bg-my-primary-gradient {
    background-image: linear-gradient(225deg, #4e54c8, #8f94fb);
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-width: 1200px) {
    .max-width-1200 {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Header */

@media (min-width: 400px) {
    .max-width-400 {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}

.navbar-brand img {
    max-height: 6rem;
}

.nav-item {
    margin-left: 1.75rem;
    margin-right: 1.75rem;
}

.nav-link .d-inline-flex {
    gap: 0.5rem;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.nav-item {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.nav-item:nth-child(1) {
    animation-delay: 0.25s;
}

.nav-item:nth-child(2) {
    animation-delay: 0.5s;
}

.nav-item:nth-child(3) {
    animation-delay: 0.75s;
}

.nav-item:nth-child(4) {
    animation-delay: 1s;
}

/* Footer */

.footer-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffc107;
    margin-bottom: 1rem;
}
