@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display&family=Quicksand&display=swap');

/* General */

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #4e54c8;
    --primary-gradient: linear-gradient(225deg, #4e54c8, #8f94fb);
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 125%;
}

img {
    max-width: 100%;
    height: auto;
}

body, .bg-page {
    background-image: url('../images/backgrounds/top-beans-background-cropped.png');
    background-color: #efd5aa;
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-main {
    background-color: var(--primary-color);
}

.bg-gradient {
    background-image: var(--primary-gradient);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-pattern {
    background-image: url('../images/patterns/memphis-colorful.png');
    background-repeat: repeat;
    background-size: auto;
    background-attachment: fixed;
}

.font-fancy {
    font-family: 'Playfair Display', serif;
}

.font-bold {
    font-family: 'Abril Fatface', cursive;
}

/* Header */

.nav-link .d-inline-flex {
    gap: 0.5rem;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.nav-item {
    margin-left: 1.75rem;
    margin-right: 1.75rem;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.nav-item:nth-child(1) {
    animation-delay: 0.25s;
}

.nav-item:nth-child(2) {
    animation-delay: 0.5s;
}

.nav-item:nth-child(3) {
    animation-delay: 0.75s;
}

.nav-item:nth-child(4) {
    animation-delay: 1s;
}

/* Footer */

.footer-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffc107;
    margin-bottom: 1rem;
}

/* Tweaks */

@media (min-width: 1200px) {
    .max-width-1200 {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 400px) {
    .max-width-400 {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}
