@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;0,900;1,900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-normal);
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
    font-size: 125%;
}

:root {
    --skyblue-color: #a9e7ef;
    --cobalt-color: #4e54c8;
    --brown-color: #4B3621;
    --yellow-color: #ffc107;
    --mango-color: #fcd358;
    --pink-color: #eeaac3;
    --cereal-color: #efd5aa;
    --cobalt-gradient: linear-gradient(225deg, var(--cobalt-color), #8f94fb);

    --font-normal: 'Source Sans Pro', sans-serif;
    --font-fancy: 'Dancing Script', cursive;
}

body {
    color: black;
}

main {
    padding-left: 3rem;
    padding-right: 3rem;
}

img {
    max-width: 100%;
    height: auto;
}

/* Extra styles */

.font-normal {
    font-family: var(--font-normal);
    font-weight: 400;
    letter-spacing: normal;
}

.font-fancy {
    font-family: var(--font-fancy);
    font-weight: 700;
}

.font-bold, .font-title {
    font-weight: 900;
}

.font-spread, .font-title, .text-box {
    letter-spacing: 0.4em;
}

.font-reverse-color, .font-title {
    color: white;
    text-shadow: black 0 0 1rem;
}

.font-bigger {
    font-size: 150%;
}

.font-glow {
    text-shadow: white 0 0 1rem;
}

.image-overlay {
    position: relative;
    width: 100%;
    height: 60vh;
    /* background-image needed */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
